* {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.container_header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

header {
  background-color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.btn {
  background-color: #37806b;
  color: #fff;
  width: 142.15px;
  height: 42.81px;
  gap: 0px;
  border-radius: 20px 0px 20px 0px;
  border: none;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.hero-content {
  width: 33%;
}
.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.hero-content p {
  margin-bottom: 20px;
}
.services {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.services h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 500;
  line-height: 78px;
}

.services-grid {
  display: flex;
  justify-content: space-between;
}

.service-item {
  background-color: #fff;
  padding: 20px;
  width: 425px;
  height: 193px;
  border-radius: 60px 0px 60px 0px;
}
.about {
  padding: 50px 0;
}

.about-content {
  display: flex;
  gap: 150px;
  align-items: center;
}

.container_years {
  display: flex;
  gap: 50px;
}
.years {
  padding: 50px 0;
}
.Successful {
  margin-top: 200px;
  width: 33%;
  text-align: center;
  font-size: 20px;
}
.years h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.testimonials {
  padding: 50px 0;
  background-color: #f9f9f9;
}
.testimonial-grid {
  display: flex;
  gap: 20px;
}

.testimonial-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  display: flex;
}

.testimonial-item h4 {
  margin-top: 10px;
  font-weight: bold;
}
.blog {
  padding: 50px 0;
}
.blog-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.blog-item h3 {
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}
.blog-item p {
  margin-bottom: 20px;
}
footer {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}
.signup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.signup p {
  margin-bottom: 20px;
}
.sub {
  width: 180px;
  height: 50px;
  border-radius: 0px 0px 20px 0px;
  border: none;
  background-color: #37806b;
  color: white;
}
footer form {
  display: flex;
  justify-content: center;
}

footer input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 25px 0 0 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  margin-top: 50px;
}
a {
  text-decoration: none;
  color: black;
}
